.carousel {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.carousel .carousel-control-next-icon.changed {
  background-image: url("./arrow-right-solid.svg");
}

.carousel .carousel-control-prev-icon.changed {
  background-image: url("./arrow-left-solid.svg");
}

