.carousel {
  grid-row: 2/3;
  grid-column: 1/7;
}

.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.carousel .carousel-control-next-icon.changed {
  background-image: url("./arrow-right-solid.svg");
}

.carousel .carousel-control-prev-icon.changed {
  background-image: url("./arrow-left-solid.svg");
}

@media (max-width: 800) {
  .carousel {
    width: auto;
    height: auto;
  }
}
